---
- hosts: all
  remote_user: root
  environment:
    http_proxy: "{{ lookup('env','http_proxy') }}"
    https_proxy: "{{ lookup('env','https_proxy') }}"
    no_proxy: "{{ lookup('env','no_proxy') }}"
    HTTP_PROXY: "{{ lookup('env','http_proxy') }}"
    HTTPS_PROXY: "{{ lookup('env','https_proxy') }}"
    NO_PROXY: "{{ lookup('env','no_proxy') }}"
  pre_tasks:
    - name: "Configure resolvconf"
      sudo: yes
      lineinfile:
        path: /etc/resolv.conf
        line: 'nameserver 192.168.122.1'
  tasks:
    - name: add public key to host
      copy:
        src: "{{ XCI_PATH }}/xci/files/authorized_keys"
        dest: /root/.ssh/authorized_keys
  roles:
    - role: peru.proxy_settings
      proxy_settings_http_proxy: "{{ lookup('env','http_proxy') }}"
      proxy_settings_https_proxy: "{{ lookup('env','https_proxy') }}"
      proxy_settings_ftp_proxy: "{{ lookup('env','ftp_proxy') }}"
      proxy_settings_no_proxy: "{{ lookup('env','no_proxy') }}"
      when:
        - lookup('env','http_proxy') is defined
        - lookup('env','https_proxy') is defined
        - lookup('env','ftp_proxy') is defined
        - lookup('env','no_proxy') is defined
        - lookup('env','http_proxy') != ""
        - lookup('env','https_proxy') != ""
        - lookup('env','ftp_proxy') != ""
        - lookup('env','no_proxy') != ""

- hosts: controller
  remote_user: root
  vars_files:
    - "{{ XCI_PATH }}/xci/var/opnfv.yml"

  pre_tasks:
    - name: Load distribution variables
      include_vars:
        file: "{{ item }}"
      with_items:
        - "{{ XCI_PATH }}/xci/var/{{ ansible_os_family }}.yml"
        - "{{ XCI_FLAVOR_ANSIBLE_FILE_PATH }}/flavor-vars.yml"
  roles:
    - role: configure-network
    # we need to force sync time with ntp or the nodes will be out of sync timewise
    - role: synchronize-time

- hosts: compute
  remote_user: root
  vars_files:
    - "{{ XCI_PATH }}/xci/var/opnfv.yml"

  pre_tasks:
    - name: Load distribution variables
      include_vars:
        file: "{{ item }}"
      with_items:
        - "{{ XCI_PATH }}/xci/var/{{ ansible_os_family }}.yml"
        - "{{ XCI_FLAVOR_ANSIBLE_FILE_PATH }}/flavor-vars.yml"
  roles:
    - role: configure-network
    # we need to force sync time with ntp or the nodes will be out of sync timewise
    - role: synchronize-time
    - role: configure-ceph
      when: XCI_CEPH_ENABLED == "true"

- hosts: compute00
  remote_user: root
  roles:
    - role: configure-nfs
