apiVersion: v1
kind: Config
clusters:
- cluster:
    api-version: v1
    insecure-skip-tls-verify: true
{% if ':' in server_url %}
    server: "https://{{ server_url }}/r/projects/{{ system_project_id }}/kubernetes:6443"
{% else %}
    server: "https://{{ server_url }}:80/r/projects/{{ system_project_id }}/kubernetes:6443"
{% endif %}
  name: "Default"
contexts:
- context:
    cluster: "Default"
    user: "Default"
  name: "Default"
current-context: "Default"
users:
- name: "Default"
  user:
    # username: "{{ username }}"
    token: "{{ token }}"
