---
network_interface: "{{ bifrost.net_interface }}"
ironic_db_password: {{ bifrost.ironic_db_password }}
mysql_username: root
mysql_password:

enabled_drivers: agent_ipmitool

ssh_public_key_path: "{{ xci_configs_root }}/id_rsa.pub"

create_image_via_dib: true

transform_boot_image: false

create_ipa_image: false
download_ipa: true

dnsmasq_router: {{ pxe_net.network | ip_add( 1 ) }}

dnsmasq_dns_servers: {{ pxe_net.network | ip_add( 1 ) }}
dhcp_pool_start: {{ pxe_net.network | ip_last_of(pxe_net.mask, -20) }}
dhcp_pool_end: {{ pxe_net.network | ip_last_of(pxe_net.mask, -2) }}
dhcp_lease_time: 12h
dhcp_static_mask: 24
inventory_dns: true
inventory_dhcp: false
inspect_nodes: false

dib_os_release: "{{ dib.os[OS_FAMILY|lower()].release }}"
dib_os_element: "{{ dib.os[OS_FAMILY|lower()].element }}"
dib_packages: "{{ dib.packages[OS_FAMILY|lower()] }}"
extra_dib_elements: {{ dib.extra_elements }}
dib_init_element: simple-init
dib_dev_user_username: {{ dib.dev_user.username }}
dib_dev_user_password: {{ dib.dev_user.password }}

enable_venv: {{ bifrost_enable_venv }}
