##############################################################################
# Copyright (c) 2018 taseer94@gmail.com & others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

FLANNEL_NETWORK="{{ flannel_network }}"
FLANNEL_SUBNET="{{ flannel_subnet }}"
FLANNEL_MTU="{{ flannel_mtu }}"
FLANNEL_IPMASQ="{{ flannel_ipmasq }}"