- name: Armada-host-setup
  command: ./tools/deployment/armada/010-armada-host-setup.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Armada-build
  command: ./tools/deployment/armada/015-armada-build.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Armada-render-manifests
  command: ./tools/deployment/armada/020-armada-render-manifests.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Armada-validate-manifests
  command: ./tools/deployment/armada/025-armada-validate-manifests.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Armada-apply-manifests
  command: ./tools/deployment/armada/030-armada-apply-manifests.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Copy script to the worker node
  command: "scp -o \"StrictHostKeyChecking no\" tools/deployment/developer/ceph/170-setup-gateway.sh root@192.168.122.4:170-setup-gateway.sh"
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Setup the gateway to the public network at worker node
  command: /root/170-setup-gateway.sh
  changed_when: false
  delegate_to: 192.168.122.4

- name: Add a route from opnfv to worker node for the public network
  command: ip route add 172.24.4.0/24 via 192.168.122.4
  changed_when: false

# Deployment validation
- name: Exercise the cloud
  command: ./tools/deployment/developer/common/900-use-it.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Armada-host-setup
  command: ./tools/deployment/armada/010-armada-host-setup.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Armada-build
  command: ./tools/deployment/armada/015-armada-build.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Armada-render-manifests
  command: ./tools/deployment/armada/020-armada-render-manifests.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Armada-validate-manifests
  command: ./tools/deployment/armada/025-armada-validate-manifests.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Armada-apply-manifests
  command: ./tools/deployment/armada/030-armada-apply-manifests.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Copy script to the worker node
  command: "scp -o \"StrictHostKeyChecking no\" tools/deployment/developer/ceph/170-setup-gateway.sh root@192.168.122.4:170-setup-gateway.sh"
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm

- name: Setup the gateway to the public network at worker node
  command: /root/170-setup-gateway.sh
  changed_when: false
  delegate_to: 192.168.122.4

- name: Add a route from opnfv to worker node for the public network
  command: ip route add 172.24.4.0/24 via 192.168.122.4
  changed_when: false

# Deployment validation
- name: Exercise the cloud
  command: ./tools/deployment/developer/common/900-use-it.sh
  changed_when: false
  args:
    chdir: /root/repos/openstack-helm
