---
- hosts: k8s-cluster
  remote_user: root
  vars_files:
    - "{{ xci_path }}/xci/var/opnfv.yml"

  pre_tasks:
    - name: Load distribution variables
      include_vars:
        file: "{{ item }}"
      with_items:
        - "{{ xci_path }}/xci/var/{{ ansible_os_family }}.yml"

  roles:
    - role: bootstrap-host

  tasks:
    - name: Manage SSH keys
      include_tasks: "{{ xci_path }}/xci/playbooks/manage-ssh-keys.yml"

    - name: Install dbus
      package:
        name: "{{ (ansible_pkg_mgr == 'zypper') | ternary('dbus-1', 'dbus') }}"
        state: present
        update_cache: "{{ (ansible_pkg_mgr == 'apt') | ternary('yes', omit) }}"

- hosts: kube-master
  remote_user: root
  vars_files:
    - "{{ xci_path }}/xci/var/opnfv.yml"
  pre_tasks:
    - name: Load distribution variables
      include_vars:
        file: "{{ xci_path }}/xci/var/{{ ansible_os_family }}.yml"
  roles:
    - role: "keepalived"
      when:  xci_flavor == 'ha'
    - role: "haproxy_server"
      haproxy_service_configs: "{{ haproxy_default_services}}"
      when:  xci_flavor == 'ha'
