---
- hosts: all
  remote_user: root
  tasks:
    - name: add public key to host
      copy:
        src: "{{ XCI_PATH }}/xci/files/authorized_keys"
        dest: /root/.ssh/authorized_keys
    - name: install dbus and python-netaddr
      package:
        name: "{{item}}"
        state: present
        update_cache: "{{ (ansible_pkg_mgr == 'apt') | ternary('yes', omit) }}"
      with_items: "{{ kube_require_packages }}"

- hosts: kube-master
  remote_user: root
  vars_files:
    - "{{ XCI_PATH }}/xci/var/opnfv.yml"
  pre_tasks:
    - name: Load distribution variables
      include_vars:
        file: "{{ XCI_PATH }}/xci/var/{{ ansible_os_family }}.yml"
  roles:
    - role: "keepalived"
      when:  XCI_FLAVOR == 'ha'
    - role: "haproxy_server"
      haproxy_service_configs: "{{ haproxy_default_services}}"
      when:  XCI_FLAVOR == 'ha'
