---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2017 Ericsson AB and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
- hosts: localhost
  connection: local
  vars_files:
    - ../var/opnfv.yml
  pre_tasks:
    - name: Load distribution variables
      include_vars:
        file: ../var/{{ ansible_os_family }}.yml
  roles:
    - role: remove-folders
    - { role: clone-repository, project: "opnfv/releng-xci", repo: "{{ OPNFV_RELENG_GIT_URL }}", dest: "{{ OPNFV_RELENG_PATH }}", version: "{{ OPNFV_RELENG_VERSION }}" }
    - { role: clone-repository, project: "openstack/openstack-ansible-openstack_openrc", repo: "{{ OPENSTACK_OSA_OPENRC_GIT_URL }}", dest: "{{ OPENSTACK_OSA_OPENRC_PATH }}", version: "master" }
- hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - ../var/opnfv.yml
  tasks:
    - name: Load distribution variables
      include_vars:
        file: ../var/{{ ansible_os_family }}.yml
    - name: Synchronize local development releng-xci repository to XCI paths
      synchronize:
        src: "{{ OPNFV_RELENG_DEV_PATH }}"
        dest: "{{ OPNFV_RELENG_PATH }}"
        recursive: yes
        delete: yes
      when:
        - OPNFV_RELENG_DEV_PATH != ""

- hosts: localhost
  connection: local
  vars_files:
    - ../var/opnfv.yml
  tasks:
    - name: Load distribution variables
      include_vars:
        file: ../var/{{ ansible_os_family }}.yml
    - name:  create log directory {{LOG_PATH}}
      file:
        path: "{{LOG_PATH}}"
        state: directory
        recurse: no
    # when the deployment is aio, we overwrite and use playbook, configure-opnfvhost.yml, since everything gets installed on opnfv host
    - name: copy aio playbook
      copy:
        src: "{{XCI_FLAVOR_ANSIBLE_FILE_PATH}}/configure-opnfvhost.yml"
        dest: "{{OPNFV_RELENG_PATH}}/xci/playbooks"
      when: XCI_FLAVOR == "aio"
    - name: copy flavor inventory
      copy:
        src: "{{XCI_FLAVOR_ANSIBLE_FILE_PATH}}/inventory"
        dest: "{{OPNFV_RELENG_PATH}}/xci/playbooks"
    - name: copy flavor vars
      copy:
        src: "{{XCI_FLAVOR_ANSIBLE_FILE_PATH}}/flavor-vars.yml"
        dest: "{{OPNFV_RELENG_PATH}}/xci/var"
- hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - ../var/opnfv.yml
  tasks:
    - name: Load distribution variables
      include_vars:
        file: ../var/{{ ansible_os_family }}.yml
    - name: check if certificate directory /etc/ssl/certs exists already
      stat: path=/etc/ssl/certs
      register: check_etc_ssl_certs
    - name: create certificate directory /etc/ssl/certs
      file:
        path: "/etc/ssl/certs"
        state: directory
      when: check_etc_ssl_certs.stat.exists == false
    - name: create key directory /etc/ssl/private
      become: true
      file:
        path: "/etc/ssl/private"
        state: directory
    - name: generate self signed certificate
      command: openssl req -new -nodes -x509 -subj "{{ XCI_SSL_SUBJECT }}" -days 3650 -keyout "/etc/ssl/private/xci.key" -out "/etc/ssl/certs/xci.crt" -extensions v3_ca
      become: true
