---
- hosts: all
  remote_user: root
  tasks:
    - name: add public key to host
      copy:
        src: ../file/authorized_keys
        dest: /root/.ssh/authorized_keys

- hosts: controller
  remote_user: root
  vars_files:
    - ../var/flavor-vars.yml
  pre_tasks:
    - name: Load distribution variables
      include_vars:
        file: ../var/{{ ansible_os_family }}.yml
  roles:
    - role: configure-network
    # we need to force sync time with ntp or the nodes will be out of sync timewise
    - role: synchronize-time

- hosts: compute
  remote_user: root
  vars_files:
    - ../var/flavor-vars.yml
  pre_tasks:
    - name: Load distribution variables
      include_vars:
        file: ../var/{{ ansible_os_family }}.yml
        file: ../var/opnfv.yml
  roles:
    - role: configure-network
    # we need to force sync time with ntp or the nodes will be out of sync timewise
    - role: synchronize-time
    - role: configure-ceph
      when: XCI_CEPH_ENABLED == true

- hosts: compute00
  remote_user: root
  roles:
    - role: configure-nfs
