DEVICE={{ item.name }}
NM_CONTROLLED=no
ONBOOT=yes
BOOTPROTO=none
{% if item.vlan_id is defined %}
VLAN=yes
ETHERDEVICE={{ ansible_local.xci.network.xci_interface }}
VLAN_ID={{ item.vlan_id }}
{% endif %}
{% if item.bridge is not defined %}
BRIDGE={{ item.bridge }}
{% else %}
TYPE=Bridge
DELAY=0
STP=off
{% endif %}
{% if item.network is defined %}
IPADDR={{ item.network.address }}
{% endif %}
{% if item.network is defined and item.network.gateway is defined %}
GATEWAY="{{ host_info[inventory_hostname]['public']['gateway'] | ipaddr('address') }}"
{% endif %}
{% if item.network is defined and item.network.dns is defined %}
DNS="{{ host_info[inventory_hostname]['public']['dns'] | join(' ') }}"
{% endif %}
{% endif %}
