<network>
  <name>{{ vm_network_mgmt }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <forward dev='ens2f0.85'/>
  <bridge name='{{ network_interface_mgmt }}' stp='on' delay='0'/>
  <ip address='10.167.4.1' netmask='{{ idf.net_config.mgmt.mask }}'>
     <dhcp>
       {%- set index = idf.net_config.mgmt.interface %}
       {%- set interface = opnfv_vm.interfaces[index] %}
       <host mac="{{ interface.mac_address }}" ip="{{ interface.address }}"/>
     </dhcp>
  </ip>
</network>
