<network>
  <name>{{ item }}</name>
  <forward mode='route'>
  </forward>
  <bridge name='br-{{ item }}' stp='on' delay='0'/>
  {% for interface in opnfv_vm.interfaces %}
  {% if interface.config == 'admin' %}
  {% set index = loop.index | int %}
  <ip address='{{ opnfv_vm.interfaces[index - 1].gateway }}' netmask='255.255.255.0'>
     <dhcp>
       <host mac="{{ opnfv_vm.interfaces[index - 1].mac_address }}" ip="{{ opnfv_vm.interfaces[index - 1].address }}"/>
     </dhcp>
  </ip>
  {% endif %}
  {% endfor %}
</network>
