<network>
  <name>{{ vm_network }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ network_interface }}' stp='on' delay='0'/>
  <ip address='{{ nodes[0].remote_management.address.split(':')[0] }}' netmask='{{ node_network_netmask }}'>
     <dhcp>
      {%- for interface in opnfv_vm_pdf.interfaces %}
       {%-   if 'native' in (interface.vlan | string) %}
       <host mac="{{ interface.mac_address }}" ip="{{ interface.address }}"/>
       {%-   endif %}
       {%- endfor %}
     </dhcp>
  </ip>
</network>
