<network>
  <name>{{ vm_network }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ network_bridge_pxe }}' stp='on' delay='0'/>
  <ip address='{{opnfv_vm.remote_management.address.split(':')[0] }}' netmask='{{ idf.net_config.admin.mask }}'>
     <dhcp>
       {%- set index = idf.net_config.pxe.interface %}
       {%- set interface = opnfv_vm.interfaces[0] %}
       <host mac="{{ interface.mac_address }}" ip="{{ interface.address }}"/>
     </dhcp>
  </ip>
</network>
