# The infra nodes where the Ceph mon services will run
ceph-mon_hosts:
  controller00:
    ip: 172.29.236.11

# The nodes that the Ceph OSD disks will be running on
ceph-osd_hosts:
  compute00:
    ip: 172.29.236.12
  compute01:
    ip: 172.29.236.13

