---
- hosts: opnfv
  remote_user: root
  vars_files:
    - ../var/opnfv.yml
  roles:
    - { role: clone-repository, project: "openstack/openstack-ansible", repo: "{{ OPENSTACK_OSA_GIT_URL }}", dest: "{{ OPENSTACK_OSA_PATH }}", version: "{{ OPENSTACK_OSA_VERSION }}" }
  tasks:
    - name: Synchronize local development openstack-ansible repository to XCI paths
      synchronize:
        src: "{{ OPENSTACK_OSA_DEV_PATH }}"
        dest: "{{ OPENSTACK_OSA_PATH }}"
        recursive: yes
        delete: yes
      when:
        - OPENSTACK_OSA_DEV_PATH != ""
    - name: bootstrap ansible on opnfv host
      command: "/bin/bash ./scripts/bootstrap-ansible.sh"
      args:
        chdir: "{{OPENSTACK_OSA_PATH}}"
    - name: Configure AIO tempest
      lineinfile:
        path: "{{ OPENSTACK_OSA_PATH }}/tests/roles/bootstrap-host/templates/user_variables.aio.yml.j2"
        regexp: "^{{ item }}.*"
        line: "{{ item }}: {{ RUN_TEMPEST }}"
        state: present
      with_items:
        - "tempest_install"
        - "tempest_run"
    - name: bootstrap opnfv host as aio
      command: "/bin/bash ./scripts/bootstrap-aio.sh"
      args:
        chdir: "{{OPENSTACK_OSA_PATH}}"
      environment:
        SCENARIO: "{{ (XCI_CEPH_ENABLED == 'true') | ternary('ceph', 'aio') }}"
