export OS_AUTH_URL="{{ openrc_os_auth_url }}"
export OS_USER_DOMAIN_NAME="{{ openrc_os_domain_name }}"
export OS_PROJECT_DOMAIN_NAME="{{ openrc_os_tenant_name }}"
export OS_USERNAME="{{ openrc_os_username }}"
export OS_TENANT_NAME=
export OS_PROJECT_NAME=
export OS_PASSWORD="{{ openrc_os_password }}"
export OS_IDENTITY_API_VERSION=
