#!/bin/bash

source /root/openrc

openstack --insecure network create --share --external \
  --provider-physical-network flat \
  --provider-network-type flat {{ external_network }}

openstack --insecure subnet create --network {{ external_network }} \
  --allocation-pool {{ allocation_pool }} \
  --subnet-range {{ subnet_cidr }} --gateway {{ gateway_ip }} \
  --no-dhcp {{ subnet_name }}
