#!/bin/bash

source /root/openrc

openstack --insecure network create --external \
  --provider-physical-network flat \
  --provider-network-type flat {{ external_network }}

openstack --insecure subnet create --network {{ external_network }} \
  --allocation-pool {{ allocation_pool }} \
  --subnet-range {{ subnet_cidr }} --gateway {{ gateway_ip }} \
  --no-dhcp {{ subnet_name }}

mkdir ~/results/
mkdir ~/images && cd ~/images && wget -q http://download.cirros-cloud.net/0.4.0/cirros-0.4.0-x86_64-disk.img && cd ~

# Construct final env file
if [[ -e /root/xci.env ]]; then
    # Dump the XCI env to the functest env file
    cat /root/xci.env >> /root/env
fi
# Add our env on top of it to make sure our core vars are
# set properly.
env >> /root/env

sudo docker run --env-file env \
    -v $(pwd)/openrc:/home/opnfv/functest/conf/env_file  \
    -v $(pwd)/images:/home/opnfv/functest/images  \
    -v $(pwd)/results:/home/opnfv/functest/results \
    opnfv/functest-healthcheck
